*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* color: white; */
}

body{
    background: #e5e7e9
    ;
    /* font-family: "Lato", sans-serif; */
    line-height: 1.5;
}

h2{
    text-transform: capitalize;
}

/******************** header********************* */
header{

    margin: 0 3.5rem 1.5rem;
}


/* Navbar */



#navbar .navbar{
        display: flex;
        float: right;
}

#navbar ul{
        list-style: none;
}

#navbar ul li{
        margin-left: 1rem;
}

#navbar ul li a{
        text-decoration: none;
        padding: 1rem;
}

#navbar ul li a.current{
        /* background: gray; */
        border-bottom: 3px #fff solid;
}

/* *********************** main************************ */
main{

}

.main-container{
    /* max-width: 1100px; */
    margin: 20px;
    padding: 0 2rem;
    overflow: hidden;
}

.semester{
    color: rgb(177, 47, 47);
    font-size: large;
    /* width: 500px; */
   text-align: center;
   margin: 20px 0px;
   padding: 20px;
   /* border: 2px solid green; */
}

.subject{
    color: rgb(0, 0, 0);
    font-size: 26px;

}



                     /* ********container*************** */
.container{
    
}

.file-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    
}

.hangout{
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    border: 2px solid green;
}

.unit-2{
    /* border: 2px solid red; */
    grid-template-columns: none;
    justify-content: start;

}

.file{
    /* max-width: 100px; */
    /* max-height: 160px; */
    padding: 5px;
    margin: 10px;
   
    border-radius: 19px;
    justify-content: center;
    text-align: center;
    /* word-spacing: normal; */
    letter-spacing: 0.5px;
    font-size: auto;
}


.logo-pdf{
    height: 110px;
    width: 90px;
}

.logo-word{
    height: 110px;
    width: 115px;
}

.logo-image{
    height: 110px;
    width: 90px;
}
.file p{
    /* max-height: 109px; */
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0px;
}

button{
    color: white;
    height: 33px;
    width: 70px;
    border: 0px;
    padding-right: 105px;
    /* background-color: rgb(39, 82, 223); */
}

button a{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(68, 106, 231, 0.87);
    text-decoration: none;
    border-radius: 12px;
    text-transform: capitalize;
}

button a:hover{
    color: white;
    background-color: rgb(6, 64, 253);
    height: 25px;
    width: 65px;
}

button a:active{
    background-color: rgb(6, 64, 253);
    border: 2px solid rgb(11, 21, 54);
}